# Node.js dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# Logs
logs/
*.log

# AWS credentials and config
.aws/

# IDE-specific files
.vscode/
.idea/

# Temporary files
*.tmp
*.swp

# Build artifacts
dist/
build/

# CloudFormation template backups
*.template-backup.yaml

# Ignore frontend build files (if applicable)
frontend/dist/
frontend/build/

# Ignore backend zip files for Lambda deployment
backend/*.zip